In [1]:
import pandas as pd

dataset = pd.read_csv("Bank_Personal_Loan_Modelling.csv")

# Answer for Question 2

In [ ]:
#Data Distribution, column specs

ID - Numeric continuous data which can be measured
Age - Numeric continuous data which can be measured
Experience - Numeric continuous data which can be measured.
Income - Numeric continuous data (in Thousand $) which can be measured
ZIPCode - Numeric continuous data which can be measured
Family - discrete data can only take certain numerical values and are counted (1, 2, 3 or 4)
CCAvg - Numeric continuous data (in Thousand $) which can be measured
Education - discrete data can only take certain numerical values and are counted (1, 2 or 3)
Mortgage - Numeric continuous data (in Thousand $) which can be measured
Personal Loan - discrete data which is our target column in this study, can take value 0 or 1
Securities Account - discrete data can only take numerical value 0 or 1
CD Account - discrete data can only take numerical value 0 or 1
Online - discrete data can only take numerical value 0 or 1
CreditCard - discrete data can only take numerical value 0 or 1

Experience column has negative data values in 52 rows.

In [2]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
ID                    5000 non-null int64
Age                   5000 non-null int64
Experience            5000 non-null int64
Income                5000 non-null int64
ZIP Code              5000 non-null int64
Family                5000 non-null int64
CCAvg                 5000 non-null float64
Education             5000 non-null int64
Mortgage              5000 non-null int64
Personal Loan         5000 non-null int64
Securities Account    5000 non-null int64
CD Account            5000 non-null int64
Online                5000 non-null int64
CreditCard            5000 non-null int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [3]:
dataset.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [4]:
import seaborn as sns
sns.pairplot(dataset)

In [5]:
dataset.corr()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
ID,1.000000,-0.008473,-0.008326,-0.017695,0.013432,-0.016797,-0.024675,0.021463,-0.013920,-0.024801,-0.016972,-0.006909,-0.002528,0.017028
Age,-0.008473,1.000000,0.994215,-0.055269,-0.029216,-0.046418,-0.052012,0.041334,-0.012539,-0.007726,-0.000436,0.008043,0.013702,0.007681
Experience,-0.008326,0.994215,1.000000,-0.046574,-0.028626,-0.052563,-0.050077,0.013152,-0.010582,-0.007413,-0.001232,0.010353,0.013898,0.008967
Income,-0.017695,-0.055269,-0.046574,1.000000,-0.016410,-0.157501,0.645984,-0.187524,0.206806,0.502462,-0.002616,0.169738,0.014206,-0.002385
ZIP Code,0.013432,-0.029216,-0.028626,-0.016410,1.000000,0.011778,-0.004061,-0.017377,0.007383,0.000107,0.004704,0.019972,0.016990,0.007691
Family,-0.016797,-0.046418,-0.052563,-0.157501,0.011778,1.000000,-0.109275,0.064929,-0.020445,0.061367,0.019994,0.014110,0.010354,0.011588
CCAvg,-0.024675,-0.052012,-0.050077,0.645984,-0.004061,-0.109275,1.000000,-0.136124,0.109905,0.366889,0.015086,0.136534,-0.003611,-0.006689
Education,0.021463,0.041334,0.013152,-0.187524,-0.017377,0.064929,-0.136124,1.000000,-0.033327,0.136722,-0.010812,0.013934,-0.015004,-0.011014
Mortgage,-0.013920,-0.012539,-0.010582,0.206806,0.007383,-0.020445,0.109905,-0.033327,1.000000,0.142095,-0.005411,0.089311,-0.005995,-0.007231
Personal Loan,-0.024801,-0.007726,-0.007413,0.502462,0.000107,0.061367,0.366889,0.136722,0.142095,1.000000,0.021954,0.316355,0.006278,0.002802
Securities Account,-0.016972,-0.000436,-0.001232,-0.002616,0.004704,0.019994,0.015086,-0.010812,-0.005411,0.021954,1.000000,0.317034,0.012627,-0.015028
CD Account,-0.006909,0.008043,0.010353,0.169738,0.019972,0.014110,0.136534,0.013934,0.089311,0.316355,0.317034,1.000000,0.175880,0.278644
Online,-0.002528,0.013702,0.013898,0.014206,0.016990,0.010354,-0.003611,-0.015004,-0.005995,0.006278,0.012627,0.175880,1.000000,0.004210
CreditCard,0.017028,0.007681,0.008967,-0.002385,0.007691,0.011588,-0.006689,-0.011014,-0.007231,0.002802,-0.015028,0.278644,0.004210,1.000000

Finding - 
Age and Experience are correlated
Personal Loan is weakly correlated with CreditCard, Online, Family, ZipCode

In [6]:
#From the pairplot we can infer that the Customer ID, ZipCode, Family, Education, Securities Account, CD Account, Online, CreditCard
#Do not have a correlation with the Personal Loan, hence dropping these columns.
#Note - ran a knn regression having all columns, the accuracy was around 68% with all attributes. Dropping these columns inproved the accuracy.

df = dataset.drop(['ID','ZIP Code', 'Family', 'Education', 'Securities Account','CD Account','Online','CreditCard'], axis = 1) 
#dropdf = dataset.drop(['ID','ZIP Code', 'Family','Online','CreditCard'], axis = 1) 
df.head()

   Age  Experience  Income  CCAvg  Mortgage  Personal Loan
0   25           1      49    1.6         0              0
1   45          19      34    1.5         0              0
2   39          15      11    1.0         0              0
3   35           9     100    2.7         0              0
4   35           8      45    1.0         0              0

In [7]:
df.describe()

,Age,Experience,Income,CCAvg,Mortgage,Personal Loan
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,45.338400,20.104600,73.774200,1.937938,56.498800,0.096000
std,11.463166,11.467954,46.033729,1.747659,101.713802,0.294621
min,23.000000,-3.000000,8.000000,0.000000,0.000000,0.000000
25%,35.000000,10.000000,39.000000,0.700000,0.000000,0.000000
50%,45.000000,20.000000,64.000000,1.500000,0.000000,0.000000
75%,55.000000,30.000000,98.000000,2.500000,101.000000,0.000000
max,67.000000,43.000000,224.000000,10.000000,635.000000,1.000000

In [8]:
#Take the absolute value of the experience
df['Experience']=df.Experience.abs()

# Answer for Question 5

In [9]:
#KNN Model
X = df.iloc[:, :-1].values
y = df.iloc[:, 5].values

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30)

from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 10)
classifier.fit(X_train, y_train)

y_pred = classifier.predict(X_test)

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
result2 = accuracy_score(y_test,y_pred)
print('Accuracy of KNN classifier on test set: {:.2f}'.format(result2))

result = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(result)

Accuracy of KNN classifier on test set: 0.91
Confusion Matrix:
[[1338   13]
 [ 122   27]]

In [10]:
#Logistic Regression Model
from sklearn.linear_model import LogisticRegression

seed = 7
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30,random_state=0)

model = LogisticRegression()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
model_score = model.score(X_test, y_test)

print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(model.score(X_test, y_test)))
print('Confusion Matrix:')
print(confusion_matrix(y_test, y_predict))

Accuracy of logistic regression classifier on test set: 0.92
Confusion Matrix:
[[1329   43]
 [  79   49]]

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [13]:
#NaiveBayes Model
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
model.fit(X_train, y_train)
expected = y_test
predicted = model.predict(X_test)
# summarize the fit of the model
print(classification_report(expected, predicted))

print('Accuracy:', model.score(X_test, y_test))
print('Confusion Matrix:')
print(confusion_matrix(expected, predicted))

              precision    recall  f1-score   support

           0       0.96      0.92      0.94      1372
           1       0.42      0.60      0.50       128

    accuracy                           0.90      1500
   macro avg       0.69      0.76      0.72      1500
weighted avg       0.92      0.90      0.90      1500

Accuracy: 0.8953333333333333
Confusion Matrix:
[[1266  106]
 [  51   77]]

# Answer for Question 6

#Confusion Matrix for the three models
#KNN Model
#Confusion Matrix
[[1338   13]
 [ 122   27]]

#Logistic Regression Model
#Confusion Matrix
[[1329   43]
 [  79   49]]

#NaiveBayes Model
#Confusion Matrix
[[1266  106]
 [  51   77]]

# Answer for Question 7

# Comparing the three data models, Logistic Regression has a better accuracy of 92% compared to the KNN and NaiveBayes
#Also, misclassification rate in logistic model is better at 8% compared to the other two models which are at 10%

#KNN Model
#Confusion Matrix
[[1338   13]
 [ 122   27]]
True Positives + True Negative = 1365
False Positive + False Negative = 135
Total = 1328 + 28+ 107+ 27 = 1500

Accuracy Rate = [(True Positives + True Negative) / Total ] = 0.91
Misclassification Rate = [(False Positive + False Negative) / Total] = 0.10

#Logistic Regression Model
#Confusion Matrix
[[1329   43]
 [  79   49]]
True Positives + True Negative = 1378
False Positive + False Negative = 122
Accuracy Rate = 1378/1500 = 0.92
Misclassification Rate = 122/1500 = 0.08

#NaiveBayes Model
#Confusion Matrix
[[1266  106]
 [  51   77]]
True Positives + True Negative = 1343
False Positive + False Negative = 157
Accuracy Rate = 1343/1500 = 0.90
Misclassification Rate = 157/1500 = 0.10